* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;   

}

.main-container p{
    word-wrap: break-word;
}


h1{
    color: black;
    font-size: xxx-large;
    margin: 10px;   
    font-family: 'Times New Roman', Times, serif; 
}

.content{
    width: 70%;
    overflow-wrap: break-word;
    text-align: center;
    
}

p {
    font-weight: bold;
    color: black;
    font-size: 26px;
    margin-bottom: 20px;    
}

/* buttons styles */
.btn, .btn-clear {
    width:150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 22px;
    background-image: linear-gradient(180deg, #000046 0%, #5585cc  51%, #000046  100%);
    box-shadow: 0 0 20px #eee;
    transition: 0.7s;    
}

.btn:hover{
    box-shadow:2px 4px 6px 0px rgb(0 0 0 / 60%);
}

.btn:focus, .btn-clear:focus{
    outline: none;
    background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3  51%, #A770EF  100%);
}

#top-line{
    display: flex;
    justify-content: space-between;
}

#time-content{
    display: flex;
    margin: 20px 0 0 20px;
   
}

nav {
    text-align:start;
}

/* high score link styles */
.score-link  {
    margin: 20px 0 0 20px;
 }
 
.score-link a, #time-content label{
     text-decoration: none;
     font-weight: lighter;
     font-size : 1.7vw;
     color:rgb(187, 16, 209);
 }

 /* timer display styles */
 #time-content input{
     border: none;
     height: 30px;
     background-color: white;
 }

 #time-content input:focus{
     outline: none;
 }

 #score-text{
    background-color: rgb(215, 184, 245);
    width: 500px;
    height: 30px;
    color: black;
    font-size: 20px;
}

.score-buttons{
    display: flex;
    
}

/* no high score display message style */
#display-msg{
    font-size: 25px;
    text-align: center;
    font-style: italic;
    color: red;
}


/* question answer page styles */

.qa-content{
    display: flex;
    flex-direction: column;   
    align-items: center;
    width:50%;
    margin-left: 30px;   
}

.qa-content p{
    width: 100%;
    word-wrap: break-word;
    font-size: 34px;
}

/* answer button styles */

.answer-btns{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
   
}
.answer-btn{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;;
}

.answerbtn-div{
    padding-bottom: 10px;
}

/* answer button style ends */

/* answes display styles */

.answer-display{
    border-top: 2px solid lightgray;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.answer-display p{
    color: lightgray;
    font-style: italic;
    margin-top: 10px;
}

/* end of display answer styles */